/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 750px;
}
.cell {
    background-color: whitesmoke;
    border: 1px solid gray;
    margin: 0; 
    box-sizing: border-box;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
button {
    margin-top: 2%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
}